<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col"> Product Name</div>
                    <div class="col">{{product?.name}}</div>
                </div>
                <div class="row">
                    <div class="col"> Product Category</div>
                    <div class="col">{{product?.category}}</div>
                </div>
                <div class="row">
                    <div class="col"> Product Description</div>
                    <div class="col">{{product?.description}}</div>
                </div>
            </div>
            <div class="col-6">
                <div class="row"> <img class="img-fluid" [src]="imgSrc" />
                </div>
                <div class="row"> <img class="img-fluid" [src]="qrSrc" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>